@font-face {
	font-family: 'Segoe UI';
	src: 
		local("Segoe UI"),
		url("./resources/fonts/segoeuithis.ttf") format("truetype");
}

@font-face {
	font-family: 'Lucida Console';
	src:
		local("Lucida Console"),
		url("./resources/fonts/lucon.ttf") format("truetype");
}

:root, :root[theme="light"] {
	--text-color: #000000;
	--bkg-color: #f9f9f9;
	--head-foot-bkg-color: #f4f4f4;
	--head-foot-border-color: #e7e7e7;
	--on-hover-color: #efefef;
	--footer-text-color: #5e5e5e;
	--footer-vertical-rule-color: var(--head-foot-border-color);
	--anch-color: #dc8a3b;
	background-color: var(--bkg-color);
}

:root[theme="dark"] {
	--text-color: #ffffff;
	--bkg-color: #272727;
	--head-foot-bkg-color: #1f1f1f;
	--head-foot-border-color: #1c1c1c;
	--on-hover-color: #2c2c2c;
	--footer-text-color: #cccccc;
	--footer-vertical-rule-color: #313131;
	--anch-color: #86d8fb;
	background-color: var(--bkg-color);
}


/* CSS reset learned from https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	line-height: calc(1em + 0.5rem);
	color: var(--text-color);
}

a {
	color: var(--anch-color);
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

section p {
	margin: 0 0 1rem 0;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}

body {
	-webkit-font-smoothing: antialiased; /* only affects MacOS users */
	-webkit-background-clip: padding-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	padding: 0.75rem;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

header {
	font-family: 'Segoe UI', sans-serif;
	min-width: 100%;
	align-self: flex-start;
	font-size: 0.9rem;
	border-bottom: 0.0625rem solid var(--head-foot-border-color);
	background-color: var(--head-foot-bkg-color);
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.header-item {
	margin: 0 0.21em;
	padding: 0.35em 0.55em;
	background-color: var(--head-foot-bkg-color);
	color: var(--text-color);
	cursor: default;
	text-decoration: none;
	border-radius: 0.33em;
	border-style: hidden;
}

.header-item:hover {
	background-color: var(--on-hover-color);
}

footer {
	font-family: 'Segoe UI', sans-serif;
	min-width: 100%;
	align-self: flex-end;
	padding: 0.55em 0;
	font-size: 0.7em;
	border-top: 0.0625rem solid var(--head-foot-border-color);
	background-color: var(--head-foot-bkg-color);
	margin: auto auto 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	text-align: center;
	align-items: center;
}

footer p {
	color: var(--footer-text-color);
	padding: 0 0.55em;
}

footer p:first-of-type {
	margin-left: 1rem;
}

footer span {
	width: 0.0625rem;
	height: 1.2rem;
	background-color: var(--footer-vertical-rule-color);
}

section {
	font-family: 'Lucida Console', monospace;
}